a:hover {
    text-underline-style: none;
    text-decoration: none;
}

.color-red {
    color: red;
}

.error-page-bg {
    background: #dedede;
}

.page-wrap {
    min-height: 100vh;
}

.fade-underline {
    color: #3b4248;
    text-decoration: underline;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

/*Navigation*/
.nav-container {
    border-style: solid;
    border-color: #111;
    border-width: 0 1px 1px 1px;
    background-image: linear-gradient(to bottom, #333 0%,#333 100%);
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}

.content-container {
    background: rgba(255, 255, 255, .8);
    border-radius: 3px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .4);
    padding: 2% 4% 8%;
}

.pm-menu {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 35px rgba(0, 0, 0, .4);
}

.nav-logo {
    max-height: 50px;
    max-width: 70px;
}

.nav-link {
    color: #000 !important;
}

.nav-item {
    font-size: 16px;
}

/*Login*/
.login-background {
    background: url('../images/login/background.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.login-container {
    position: absolute;
    background: rgba(255, 255, 255, .8);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .4);
    padding: 10%;
    width: 100%;
    top: 15vh;
}

.login-logo {
    height: 90px;
    width: 180px;
}

@media screen and (max-width: 480px) {
    .login-logo {
        height: 80px;
        width: 160px;
    }
}

.page-title {
    position: relative;
    font-weight: 500;
    font-size: 20px;
}

.page-title-content {
    position: absolute;
    bottom: 0;
}

.border-row-gray {
    width: 100%;
    margin-top: -1px;
    border-top: 1px solid #d7d7d7;
    background: transparent;
}

.underline-shadow {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;

    -webkit-box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1);

    padding-right: 0 !important;
    padding-left: 0 !important;
}

.underline-shadow:hover {
    -webkit-box-shadow: inset 0 -3px 0 0 rgba(47,122,191,1.0);
    -moz-box-shadow: inset 0 -3px 0 0 rgba(47,122,191,1.0);
    box-shadow: inset 0 -3px 0 0 rgba(47,122,191,1.0)
}

.box-shadow {
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.box-shadow:hover {
    -webkit-box-shadow: -3px 0 6px 0 rgba(0,0,0,0.1),0 5px 6px 0 rgba(0,0,0,0.1),3px 5px 6px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 0 6px 0 rgba(0,0,0,0.1),0 5px 6px 0 rgba(0,0,0,0.1),3px 5px 6px 0 rgba(0,0,0,0.1);
    box-shadow: -3px 0 6px 0 rgba(0,0,0,0.1),0 5px 6px 0 rgba(0,0,0,0.1),3px 5px 6px 0 rgba(0,0,0,0.1)
}

.box-shadow-no-hover {
    -webkit-box-shadow: -3px 0 6px 0 rgba(0,0,0,0.1),0 5px 6px 0 rgba(0,0,0,0.1),3px 5px 6px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 0 6px 0 rgba(0,0,0,0.1),0 5px 6px 0 rgba(0,0,0,0.1),3px 5px 6px 0 rgba(0,0,0,0.1);
    box-shadow: -3px 0 6px 0 rgba(0,0,0,0.1),0 5px 6px 0 rgba(0,0,0,0.1),3px 5px 6px 0 rgba(0,0,0,0.1)
}

.color-edit {
    color: #007bff;
}

.color-add {
    color: #28a745;
}

.color-remove {
    color: #dc3545;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    flex-grow: 1;
}

.h-100{
    height: 100%;
}

.mouse-pointer {
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0;
    outline: none;
}

.mouse-pointer:focus {
    outline: none;
}

.header-item {
    font-weight: 500;
}

.font-header {
    font-size: 1.5em;
}