<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ attribute name="disabled" type="java.lang.Boolean" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>

<c:if test="${empty disabled or not disabled}">

</c:if>


